body{
    text-align: center;
    font-family: "Times New Roman";
    background-color: rgb(250,250,250);
    width: 100%;
}

h1{
    margin-bottom: 0px;
}

h2{
    margin-top: 0px;
    padding-bottom: 5px;
}

button{
    padding: 2px;
    background-color: rgba(147,254,248,0.65);
}
