body{
    text-align:center;
    font-family:Times New Roman;
    background-color:rgb(250,250,250);
    width: 100%;
    
}

table,thead th,td{
    border:1px solid black;
    border-collapse: collapse;
    padding: 5px;
    
}
thead{
   background-color: rgba(243,14,14,0.65);
}
tbody{
   background-color:rgb(252,255,178)
}

table{
    width:70%;
    margin:0 auto;
    
}

tr:hover {
    background-color: rgba(8,240,234,0.5);
    padding: 2px 6px;
    border-radius: 4px;
}
td:hover {
    background-color: rgb(8,240,234);
    padding: 2px 6px;
    border-radius: 4px;
}

button{
   padding:2px;
}
